/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color_main:  #7ed56f;
$color_secondary_1: #55c57a;
$color_secondary_2: #28b485;

$color-grey-light-1: #f1f1f1;
$color-grey-light-2: #777676;
$color-grey-light-3: #3b3939;

$color-warning: #fa3838;

$color-white: white;

$max-width: 1700px;