.u-center-text{
  text-align:center;
}

.u-margin-bottom-8{
  margin-bottom: 8rem;
}

.u-margin-top-8{
  margin-top: 8rem;
}

.u-flex-column-center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.u-flex-column{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-flex-row-wrap{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.u-flex-row-nowrap{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.u-flex-grow-1{
  flex-grow: 1;
}

.u-padding-top-2{
  padding-top: 2rem;
}

.u-padding-top-1{
  padding-top: 1rem;
}